.my-tile-preview {
  background-color: rgba(53, 132, 228, 0.5);
  border: 1px solid rgba(53, 132, 228, 1);
}

.my-open-windows-dash {
  background-color: rgba(22, 22, 22, 0.95);
  border-radius: 15px;
  border: 2px solid rgba(65, 66, 68, 0.85);
}
