pkgbase = gnome-shell-extension-tiling-assistant
	pkgdesc = A GNOME Shell extension to expand GNOME's native 2 column design.
	pkgver = 49
	pkgrel = 1
	url = https://github.com/Leleat/Tiling-Assistant
	install = INSTALL
	arch = x86_64
	license = GPL2
	makedepends = gettext
	depends = gnome-shell
	provides = gnome-shell-extension-tiling-assistant
	conflicts = gnome-shell-extension-tiling-assistant
	source = gnome-shell-extension-tiling-assistant::git+https://github.com/Leleat/Tiling-Assistant.git#tag=v49
	sha256sums = SKIP

pkgname = gnome-shell-extension-tiling-assistant
